<?xml version="1.0" encoding="UTF-8"?>
<!--B站「程序员辰星」原创出品-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmbeast.mapper.PetMapper">

    <insert id="save">
        INSERT INTO pet (id, name, cover, detail, address, age, gender, pet_type_id, is_vaccine, is_recommend, is_adopt,
                         create_time)
        VALUES (#{id}, #{name}, #{cover}, #{detail}, #{address}, #{age}, #{gender}, #{petTypeId}, #{isVaccine},
                #{isRecommend},
                #{isAdopt}, #{createTime})
    </insert>

    <update id="update">
        UPDATE pet
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="petTypeId != null">pet_type_id = #{petTypeId},</if>
            <if test="isVaccine != null">is_vaccine = #{isVaccine},</if>
            <if test="isRecommend != null">is_recommend = #{isRecommend},</if>
            <if test="isAdopt != null">is_adopt = #{isAdopt},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM pet
        WHERE id = #{id}
    </delete>

    <!--查询数据总项-->
    <select id="getById" resultMap="BaseResultMap">

        SELECT p.id,
               p.name,
               p.cover,
               p.detail,
               p.address,
               p.age,
               p.gender,
               p.pet_type_id,
               p.is_vaccine,
               p.is_recommend,
               p.is_adopt,
               p.create_time,
               pt.name AS pet_type_name
        FROM pet p
                 LEFT JOIN pet_type pt ON pt.id = p.pet_type_id
        WHERE p.id = #{id}
    </select>

    <select id="queryListItemByIds" resultMap="BaseResultItemMap">

        SELECT p.id,
        p.name,
        p.cover,
        p.address,
        p.age,
        p.gender,
        p.pet_type_id,
        p.is_vaccine,
        p.is_recommend,
        p.is_adopt,
        p.create_time,
        pt.name AS pet_type_name
        FROM pet p
        LEFT JOIN pet_type pt ON pt.id = p.pet_type_id
        WHERE p.id IN
        <foreach collection="ids" item="id" separator="," index="index" open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--查询数据总项-->
    <select id="queryListItem" resultMap="BaseResultItemMap">

        SELECT p.id,
        p.name,
        p.cover,
        p.address,
        p.age,
        p.gender,
        p.pet_type_id,
        p.is_vaccine,
        p.is_recommend,
        p.is_adopt,
        p.create_time,
        pt.name AS pet_type_name
        FROM pet p
        LEFT JOIN pet_type pt ON pt.id = p.pet_type_id
        <where>
            <if test="name != null and name != ''">
                AND p.name LIKE concat('%',#{name},'%')
            </if>
            <if test="isRecommend != null">
                AND p.is_recommend = #{isRecommend}
            </if>
            <if test="petTypeId != null">
                AND p.pet_type_id = #{petTypeId}
            </if>
        </where>
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM pet p
        <where>
            <if test="name != null and name != ''">
                AND p.name LIKE concat('%',#{name},'%')
            </if>
            <if test="isRecommend != null">
                AND p.is_recommend = #{isRecommend}
            </if>
            <if test="petTypeId != null">
                AND p.pet_type_id = #{petTypeId}
            </if>
        </where>

    </select>

    <select id="queryByName" resultMap="BaseResultMap">
        SELECT pt.id, pt.name
        FROM pet pt
        WHERE pt.name = #{name}
    </select>


    <select id="queryAllIds" resultType="java.lang.Integer">
        SELECT p.id
        FROM pet p
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultItemMap" type="com.kmbeast.pojo.vo.PetListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="pet_type_id" property="petTypeId"/>
        <result column="pet_type_name" property="petTypeName"/>
        <result column="is_vaccine" property="isVaccine"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="is_adopt" property="isAdopt"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.kmbeast.pojo.vo.PetVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="detail" property="detail"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="pet_type_id" property="petTypeId"/>
        <result column="pet_type_name" property="petTypeName"/>
        <result column="is_vaccine" property="isVaccine"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="is_adopt" property="isAdopt"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
