<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmbeast.mapper.PetPostMapper">

    <select id="getById" resultMap="PetPostVOMap">

        SELECT pp.id,
               pp.user_id,
               pp.title,
               pp.cover,
               pp.content,
               pp.pet_type_id,
               pp.summary,
               pp.is_audit,
               pp.create_time,
               pt.name AS pet_type_name,
               u.username,
               u.avatar,
               (SELECT COUNT(*)
                FROM active_net an
                WHERE an.content_id = pp.id
                  AND an.content_type = 'PET-POST'
                  AND an.type = 2)
                       AS upvote_number,
               (SELECT COUNT(*)
                FROM active_net an
                WHERE an.content_id = pp.id
                  AND an.content_type = 'PET-POST'
                  AND an.type = 1)
                       AS view_number,
               (SELECT COUNT(*)
                FROM active_net an
                WHERE an.content_id = pp.id
                  AND an.content_type = 'PET-POST'
                  AND an.type = 3)
                       AS save_number
        FROM pet_post pp
                 LEFT JOIN user u ON u.id = pp.user_id
                 LEFT JOIN pet_type pt ON pt.id = pp.pet_type_id
        WHERE pp.id = #{id}

    </select>

    <select id="list" resultMap="PetPostListItemVOMap">

        SELECT pp.id,
        pp.user_id,
        pp.title,
        pp.cover,
        pp.summary,
        pp.is_audit,
        pp.create_time,
        u.username,
        u.avatar,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        2)
        AS upvote_number,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        1)
        AS view_number,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        3)
        AS save_number
        FROM pet_post pp
        LEFT JOIN user u ON u.id = pp.user_id
        <where>
            <if test="userId != null">
                AND pp.user_id = #{userId}
            </if>
            <if test="petTypeId != null">
                AND pet_type_id = #{petTypeId}
            </if>
            <if test="title != null and title !=''">
                AND title LIKE concat('%',#{title},'%')
            </if>
            <if test="isAudit != null">
                AND is_audit = #{isAudit}
            </if>
        </where>
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>

    </select>

    <!--满足分页条件的数据总项-->
    <select id="listCount" resultType="integer">

        SELECT COUNT(*)
        FROM pet_post pp
        <where>
            <if test="userId != null">
                AND pp.user_id = #{userId}
            </if>
            <if test="petTypeId != null">
                AND pet_type_id = #{petTypeId}
            </if>
            <if test="title != null and title !=''">
                AND title LIKE concat('%',#{title},'%')
            </if>
            <if test="isAudit != null">
                AND is_audit = #{isAudit}
            </if>
        </where>

    </select>

    <select id="queryAllIds" resultType="java.lang.Integer">
        SELECT id
        FROM pet_post
    </select>

    <select id="queryListItemByIds" resultMap="PetPostListItemVOMap">
        SELECT pp.id,
        pp.user_id,
        pp.title,
        pp.cover,
        pp.summary,
        pp.is_audit,
        pp.create_time,
        u.username,
        u.avatar,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        2)
        AS upvote_number,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        1)
        AS view_number,
        (SELECT COUNT(*) FROM active_net an WHERE an.content_id = pp.id AND an.content_type = 'PET-POST' AND an.type =
        3)
        AS save_number
        FROM pet_post pp
        LEFT JOIN user u ON u.id = pp.user_id
        WHERE pp.id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="querySelectedVO" resultType="com.kmbeast.pojo.vo.PetPostSelectedVO">
        SELECT pp.id, pp.title
        FROM pet_post pp
        WHERE pp.user_id = #{userId}
    </select>

    <select id="queryRecommendCandidates" resultType="com.kmbeast.pojo.vo.PetPostRecommendCandidateVO">
        SELECT pp.id,
               pp.pet_type_id AS petTypeId,
               pt.name AS petTypeName,
               pp.title,
               pp.summary,
               pp.content,
               pp.is_audit AS isAudit
        FROM pet_post pp
                 LEFT JOIN pet_type pt ON pt.id = pp.pet_type_id
    </select>

    <resultMap id="PetPostVOMap" type="com.kmbeast.pojo.vo.PetPostVO">
        <!-- 基础字段 -->
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>

        <!-- 用户信息 -->
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>

        <!-- 帖子内容 -->
        <result column="title" property="title"/>
        <result column="cover" property="cover"/>
        <result column="content" property="content"/>
        <result column="summary" property="summary"/>
        <result column="pet_type_id" property="petTypeId"/>
        <result column="pet_type_name" property="petTypeName"/>

        <!-- 统计信息 -->
        <result column="upvote_number" property="upvoteNumber"/>
        <result column="view_number" property="viewNumber"/>
        <result column="save_number" property="saveNumber"/>

        <!-- 审核状态 -->
        <result column="is_audit" property="isAudit"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="PetPostListItemVOMap" type="com.kmbeast.pojo.vo.PetPostListItemVO">
        <!-- 基础字段 -->
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>

        <!-- 用户信息 -->
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>

        <!-- 帖子内容 -->
        <result column="title" property="title"/>
        <result column="cover" property="cover"/>
        <result column="summary" property="summary"/>

        <!-- 统计信息 -->
        <result column="upvote_number" property="upvoteNumber"/>
        <result column="view_number" property="viewNumber"/>
        <result column="save_number" property="saveNumber"/>

        <!-- 审核状态 -->
        <result column="is_audit" property="isAudit"/>
        <result column="create_time" property="createTime"/>

    </resultMap>


</mapper>
