<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmbeast.mapper.ProposalFeedbackMapper">

    <!--查询数据总项-->
    <select id="list" resultMap="BaseResultMap">

        SELECT pf.id,
        user_id,
        detail,
        is_reply,
        reply_content,
        is_top,
        pf.create_time,
        reply_time,
        u.username,
        u.avatar
        FROM proposal_feedback pf
        LEFT JOIN user u ON u.id = pf.user_id
        <where>
            <if test="userId != null">
                AND pf.user_id = #{userId}
            </if>
            <if test="isReply != null">
                AND pf.is_reply = #{isReply}
            </if>
            <if test="detail != null and detail != ''">
                AND pf.detail LIKE concat('%',#{detail},'%')
            </if>
        </where>
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>

    </select>

    <!--满足分页条件的数据总项-->
    <select id="listCount" resultType="integer">

        SELECT COUNT(*)
        FROM proposal_feedback pf
        <where>
            <if test="userId != null">
                AND pf.user_id = #{userId}
            </if>
            <if test="isReply != null">
                AND pf.is_reply = #{isReply}
            </if>
            <if test="detail != null and detail != ''">
                AND pf.detail LIKE concat('%',#{detail},'%')
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kmbeast.pojo.vo.ProposalFeedbackVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
        <result column="is_reply" property="isReply"/>
        <result column="reply_content" property="replyContent"/>
        <result column="is_top" property="isTop"/>
        <result column="create_time" property="createTime"/>
        <result column="reply_time" property="replyTime"/>
    </resultMap>

</mapper>
